@page
@model Licenta.Pages.Combustibili.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Adăugare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Combustibil[0].TipCombustibil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Combustibil) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipCombustibil)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Editare</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-primary">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-primary">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
