@page
@model Licenta.Pages.Utilizatori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Utilizatori</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Căutare:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Căutare" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn btn-primary">Înapoi</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizator[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizator[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizator[0].CNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizator[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizator[0].NrTelefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Utilizator) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefon)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-primary">Editare</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-primary">Detalii</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-primary">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
