@page
@model Licenta.Pages.Autovehicule.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Autovehicul</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Poza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Poza)
            <img src="~/images/@(Model.Autovehicul.Model.ToLower()).jpg"
                 style="border-radius: 12px; border: 3px solid #001f3f; max-height: 200px; object-fit: cover;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Marca.NumeMarca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Marca.NumeMarca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.SerieSasiu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.SerieSasiu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.NrInmatriculare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.NrInmatriculare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Combustibil.TipCombustibil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Combustibil.TipCombustibil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Kilometraj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Kilometraj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.ConsumMixt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.ConsumMixt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.DataITP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.DataITP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.DataRCA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.DataRCA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.DataRovinieta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.DataRovinieta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.DataRevizie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.DataRevizie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autovehicul.Utilizator.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autovehicul.Utilizator.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Autovehicul.ID" class="btn btn-primary">Editare</a> |
    <a asp-page="./Index" class="btn btn-primary">Înapoi</a>
</div>
