@page
@model Licenta.Pages.Autovehicule.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Căutare:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Înapoi</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].Marca.NumeMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].SerieSasiu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].NrInmatriculare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].Combustibil.TipCombustibil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].Kilometraj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].ConsumMixt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].DataITP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].DataRCA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].DataRovinieta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autovehicul[0].DataRevizie)
            </th>
            @if (User.IsInRole("Admin") || User.Identity.Name == "nora_oprescu@yahoo.com")
            {
                <th>@Html.DisplayNameFor(model => model.Autovehicul[0].Utilizator.FullName)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Autovehicul) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.NumeMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieSasiu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrInmatriculare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustibil.TipCombustibil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumMixt)
            </td>
                <td style="@(item.DataITP.Date <= DateTime.Now.Date.AddDays(7) && item.DataITP.Date >= DateTime.Now.Date ? "background-color: #ffdce0; color: #b32424; font-weight: bold;" : "")">
                @Html.DisplayFor(modelItem => item.DataITP)
            </td>
                <td style="@(item.DataRCA.Date <= DateTime.Now.Date.AddDays(7) && item.DataRCA.Date >= DateTime.Now.Date ? "background-color: #ffdce0; color: #b32424; font-weight: bold;" : "")">
                 @Html.DisplayFor(modelItem => item.DataRCA)
            </td>
                <td style="@(item.DataRovinieta.Date <= DateTime.Now.Date.AddDays(7) && item.DataRovinieta.Date >= DateTime.Now.Date ? "background-color:  #ffdce0; color: #b32424; font-weight: bold;" : "")">
                 @Html.DisplayFor(modelItem => item.DataRovinieta)
            </td>

                <td style="@(item.DataRevizie.Date <= DateTime.Now.Date.AddDays(7) && item.DataRevizie.Date >= DateTime.Now.Date ? "background-color:  #ffdce0; color: #b32424; font-weight: bold;" : "")">
                 @Html.DisplayFor(modelItem => item.DataRevizie)
            </td>
                @if (User.IsInRole("Admin") || User.Identity.Name == "nora_oprescu@yahoo.com")
                {
                    <td>@Html.DisplayFor(modelItem => item.Utilizator.FullName)</td>
                }
            <td>
                <a asp-page-handler="ExportPdf" asp-route-id="@item.ID">Export PDF </a>
                <a asp-page="./Details" asp-route-id="@item.ID">Details |</a>
                    @if (User.IsInRole("Admin") || User.Identity.Name == "nora_oprescu@yahoo.com")
                    {
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit </a> 
                <a asp-page= "./Delete" asp-route-id="@item.ID"> Delete |</a>
                               
                    }
                    @if (!item.Confirmare && (item.DataITP.Date <= DateTime.Now.Date.AddDays(7) || item.DataRCA.Date <= DateTime.Now.Date.AddDays(7)))
                    {
                        <form asp-page-handler="Confirmare" asp-route-id="@item.ID" method="post" style="display:inline;">
                            <label>Confirmare</label>
                            <input type="checkbox" title="Confirmare"></input>
                        </form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
